/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.

  Sidebar CSS assumes HTML looks like this for post pages:

    body
    > #sidebar
      > header (primary sidebar content -- i.e. title)
        > h1 (home page only, otherwise div or span)
      > secondary nav content we may want to hide on certain pages
    > .container
      > h1 (non-home page)
      > .content

  Basic approach is to color in body, make sidebar background transparent,
  and then fill in the .container or .content elements depending on how far
  we want the sidebar or header to stretch.
*/

@mixin number-x {
  $list-colors: #ece919, #e7901e, #e74d1e, #b31884, #a234d5, #5b22f7, #0769b9;
  $item-list: null;
  @for $i from 1 through (length($list-colors) - 1) {
    .number-#{$i} {
      background: linear-gradient(180deg, nth($list-colors, $i) 0%, nth($list-colors, $i+1) 70%);
    }
   $item-list: append($item-list, unquote(".number-#{$i}"), comma);
  }
  #{$item-list} {
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: -2px;
  }
}

@include number-x;


body {
  color: rgba(255,255,255,.75);
  background-color: $sidebar-bg-color;
  background-image: linear-gradient(
    to bottom,
    lighten($sidebar-bg-color, 7%),
    darken($sidebar-bg-color, 7%));
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  font-weight: lighter;
}


#sidebar {
  flex: 0 0 auto;
  padding: $section-spacing;
  display: inline-block;

  .site-title {
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(255,255,255,.75);
    margin-top: 0;
    margin-bottom: $heading-spacing;

    h1 {
      font-size: 0.9rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
      margin: 0;
      color: white;
    }
    
    span {
      font-size: 0.8rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    }

    a {
      color: inherit;
      &:hover { color: white; }
    }

    .back-arrow { margin-right: 0.5rem; }
  }

  .logo { 
    width: 40%;
    margin: -10px 0 0 0;
    float: left;
  }
}

#copyright{
  font-style: italic;
  font-size: 0.8rem;
}

.site-version{
  font-size: 0.8rem;
}

#tagtog-link {
  background-image: url('/assets/img/tagtog_icon_2leafs.png');
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px;
  padding-bottom: 10px;
}

.sidebar-head-title {
  display: inline-block;
}

// Container is flexbox as well -- we want content div to stretch and fill
.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  > .content {
    flex-grow: 1;
    padding-bottom: 50px;
  }
}

.content {
  background: $body-bg;
  color: $body-color;
  padding: $section-spacing;
}

.two-third-col {
  width: 66.6%;
  float: left;
}

.one-third-col {
  width: 33.3%;
  float: left;
  margin-top: 30px;
  padding-left: 10px;
}

.half-col {
  width: 50%;
  float: left;
}

.img-with-caption img {
  margin: 0;
}

.img-with-caption p {
  font-size: $caption-font-size;
  text-align: center;
  color: #a5a5a5;
}

.img-inline {
  display: inline-block;
  margin: 0 0 -3px 0;
}

.img-github-link {
  margin: 0;
}

.numbered-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.drop-number {
  font-size: 1.8rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #d5d200 0%, #e7901e 50%);
  color: white;
  width: 2.9rem;
  height: 2.9rem;
  text-align: center;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.page-section {
  margin-bottom: 70px;
  clear: both;
  display: inline-block;
}

.page-subsection {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.centered {
  text-align: center !important;
}

.soon {
  opacity: 0.5;
}

.code-desc {
  font-size: 0.75rem;
  margin: 20px 0 0 20px;
  width: 100%;
  padding: 0px 30px 0 0;
}

.sidebar-group-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.2rem;
}

.page-link {
  font-weight: lighter;
}

.clean-table {
  border: none !important;
  font-size: 100%;
}

.break-all {
  word-break: break-all;
}

.clean-table tbody tr td {
  background-color: white;
  border: none;
}

.corpora-inline-table {
  text-align: center;
}

.corpora-inline-table {
  text-align: center;
}

.corpus img {
  display: inline;
  margin: 0;
}

.corpus {
  font-size: 0.8rem;
}

/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

// Hide secondary nav content in sidebar
// Hide lead paragraph in sidebar
/*#sidebar {
  header ~ *, header ~ nav, p.lead {
    display: none;
  }
}*/

// Make header elements blend into sidebar / background
.container > header {
  background: transparent;
  color: white;
  margin: ($heading-spacing - $section-spacing)
          $section-spacing
          $section-spacing;

  h1, h2 {
    color: white;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/* -----------------------------------------------------------
  Mobile view for home page)
----------------------------------------------------------- */

.home #sidebar {

  // Center sidebar content
  text-align: center;

  // Bigger title
  .site-title {
    font-size: 1rem;
    color: white;
  }

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  header {
    ~ nav {
      display: flex;
    }
  }

  // Slightly more bottom padding to compensate for heading not match 100% of
  // line-height on top
  > *:last-child {
    margin-bottom: 0.5rem;
  }
}

/* -----------------------------------------------------------
  Mobile screens only
----------------------------------------------------------- */

@media (max-width: $large-breakpoint) {
  #sidebar nav {
    text-align: center;
  }

  #copyright {
    display: none;
  }

  .sidebar-group {
    display: inline-block !important;
    vertical-align: top;
    margin-right: 20px;
    
  }

  .home #sidebar header ~ nav, #sidebar header ~ nav {
    display: block;
  }

  #sidebar {
    padding: 1rem;
  }

  #sidebar .logo { 
    float: left;

      width: 15%;
      float: none;
  }

}

/* -----------------------------------------------------------
  Medium Desktop down to Mobile screens
----------------------------------------------------------- */

@media (max-width: $medium-breakpoint) {
  .two-third-col {
    width: 100%;
  }
  
  .one-third-col {
    width: 100%;
  }
  
  .half-col {
    width: 100%;
  }

  .table-with-code {
    table-layout: fixed;
  }
  

}


/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media (min-width: $large-breakpoint) {
  body {
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    > * { max-height: 100vh; overflow: auto; }
  }

  /* Undo mobile CSS */

  #sidebar, .home #sidebar {
    width: $sidebar-width;
    text-align: left;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar {
    .site-title {
      font-size: 1rem;

      a { color: white; }
      .back-arrow { display: none; }
    }

    p.lead, header ~ * {
      display: block;
    }

    header ~ nav {
      display: flex;
    }
  }

  .index #sidebar { margin-bottom: 0; }

  // Make entire container background white to contrast against sidebar
  .container {
    background: $body-bg;
    color: $body-color;
    padding: $section-spacing * 2;
    height: 100vh;

    > header {
      color: inherit;
      margin: 0;
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: $heading-spacing;
        }
      }
    }

    > * {
      max-width: $main-column-max-width-after-breakpoint;
      padding: 0;
    }
  }
}


/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
  color: #fff;

  svg {
    fill: rgba(255, 255, 255, 0.85);
  }

  &:hover, &:focus, &.active {
    svg { fill: #fff; }
  }

  &:hover, &:focus {
    text-decoration: underline;
    &.icon {
      text-decoration: none;
    }
  }

  &.active {
    font-weight: bold;
    text-shadow: 2px 2px #db7a0e;
  }
}

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
  clear: both;
}

#sidebar-icon-links {
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;

  @media (min-width: $large-breakpoint) {
    margin-left: -0.25em;
    justify-content: flex-start;
  }
}

#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#sidebar nav > .icon {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.25em;
}


/* -----------------------------------------------------------
  Sticky sidebar

  Set $sidebar-stick variable to affix sidebar contents to the
  bottom of the sidebar in tablets and up.
----------------------------------------------------------- */
/*


@if $sidebar-sticky {
  @media (min-width: $large-breakpoint) {
    body {
      align-items: flex-end;
    }
  }
}


/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */
/*
@if $layout-reverse {
  @media (min-width: $large-breakpoint) {
    .container {
      order: -1;
    }
  }
}

*/