.tabs-menu {
  height: 29px;
  float: left;
  clear: both;
  margin-bottom: 0;
}

.tabs-menu li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 10px;
  background-color: #ccc;
  border-top: 1px solid #d4d4d1;
  border-right: 1px solid #d4d4d1;
  border-left: 1px solid #d4d4d1;
  list-style: none;
  margin-top: 0 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 5;
  padding: 0;
}

.tabs-menu li a {
  padding: 10px;
  color: #fff;
  text-decoration: none; 
}

.tabs-menu .current a {
  color: #2e7da3;
}

.tab {
  border: 1px solid #d4d4d1;
  background-color: #fff;
  float: left;
  margin-bottom: 20px;
  width: auto;
  border-radius: 5px;
}

.tab-content {
  width: 660px;
  padding: 20px 20px 0 20px;
  display: none;
}
