.search-input{
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  height: 30px;
  width: 30%;
  font-size: inherit;
  color: inherit;
  padding: 20px 10px;
  /* background: rgba(0,0,0,0.17) url(/assets/img/search-button.png) no-repeat; */
}

.search-results{
  margin: 20px 0 40px 0;
  list-style: none;
}

.search-results h4 {
  color: inherit;
}

.search-results li{
  border-bottom: 1px solid #dbdbdb;
}

.search-results li:last-child {
  border-bottom: none;
}

.results_found {
  margin-top: 10px;
  font-size: medium;
}