---
layout: default
id: introduction

---

<div class="content">
  <div class="two-third-col">
    <h1>Welcome to tagtog</h1>
    <p>This is the official documentation for {% include inline-image.html name="icon_leafs.png" width="18" %}<a href="https://www.tagtog.net" title="tagtog.net - The Text Annotation Tool to Train AI">tagtog</a>, an efficient text annotation tool ready to train AI. Available on the Cloud and on-Premises. <strong>Easy</strong>.</p>
    <p>Below you can find a brief summary with the main features of tagtog and an overview of what you can achieve using this tool. For more in-depth information or tutorials, use the navigation to the left to explore our documentation.</p>
    <br>

    <h2>What can you achieve?</h2>
    <div class="page-section">
      <h3>Manual text annotation</h3>
      <p>Use the text annotation editor to quickly annotate and normalize entities (overlapping annotations supported), add entity labels, relations and <a title="tagtog-docs: type of annotations" href="/webeditor.html#annotation-types">more</a>. If you just need to annotate at document level, you can use labels to tag documents. The <strong>user interface adapts automatically so you only see what you need</strong>. No more complex or non-intuitive annotating systems/interfaces, engage your domain experts from the very beginning.</p>
      <p>Too much work for a single person? <a href="#team-collaboration">Invite others and work in group</a>. Each annotator can annotate the same text to facilitate the review process and to meet quality requirements. Once the annotations are completed, you can adjudicate, and export them to JSON format.</p>

      {% include image.html name="editor-mainview-described.jpg" caption="Editor layout. In this examples there are entities, entity labels, document labels, relations and normalizations" %}
      {% include image.html name="chatbot.png" caption="Building your custom annotation layout. Example of a conversation between a human and Facebook BlenderBot chatbot" %}
      <p>Do you need to deal with <strong>PDFs</strong>? {% include inline-image.html name="icon-pdf.png" width="30" %} Use the <a title="tagtog - PDF annotation tool" href="pdf-annotation-tool.html">PDF Annotation tool</a> to annotate native PDFs within tagtog.</p>
      {% include image.html name="pdf-annotation.jpg"  caption="Annotate PDF natively, as they are and the way your team is used to work with them " %}
      <h3>Automatic text annotation</h3>
      <p>Not fast enough? Use automatic annotations to speed up annotator tasks. Use pre-selections, <a href="projects.html#dictionaries">dictionaries</a>, <a href="machine-learning.html">tagtog ML</a> or plug <a href="train-your-own-models.html">your own ML model</a> in. Users will see the automatic annotations and just make an action when predictions are wrong. Powered by <strong>NLP</strong> algorithms, tagtog uses the corrections to improve accuracy and <strong>continuously reduce the load of annotators' work</strong>.</p>

    </div>
  </div>
  <div class="one-third-col">
    {% include image.html name="robot.teacher.svg" width=250 %}
    <br/><br/>
    {% include message.html message='<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3978375/" title="tagtog: interactive and text-mining-assisted annotation of gene mentions in PLOS full-text articles">Read</a> how FlyBase managed to shorten their annotation efforts by 1.6- to 1.9-fold.'%}
  </div>

  <div class="page-section">
    <div class="two-third-col">
      <h3>Train your own AI</h3>
      <p>With tagtog you can quickly create training data to feed your AI models.</p>
    </div>
    <div class="one-third-col">

    </div>
    <div class="two-third-col">
      <p class="numbered-item"><span class="number-1">1</span><strong>Use tagtog to annotate text and create training data</strong>. This is a collaborative tool, so you can invite others to share the effort. Augment your data: label documents, annotate text, relations, etc. Export this data to your model to train it.</p>
      <p class="numbered-item"><span class="number-2">2</span><strong>Import the new model's predictions to tagtog and use the annotation editor to correct any wrong prediction</strong>. The user interface is built to minimize annotator's effort while maximizing the input for your model. Once done, export the new training data to your model.</p>
      <p class="numbered-item"><span class="number-3">3</span>Repeat the last step until <strong>you have tuned your model</strong>.</p>
      <br>
      <p><a href="train-your-own-models.html">Continue reading</a></p>
    </div>
    <div class="one-third-col">
      {% include image.html name="diagram_own_ml.svg" %}
    </div>
  </div>

  <div class="page-section">
    <div class="two-third-col">
      <div>
        <h3>Get relevant insights from text automatically</h3>
        <p>Insights are just meta information (annotations) on the top of the text analyzed. You can either use <a href="projects.html#dictionaries">dictionaries</a>, <a href="machine-learning.html">tagtog ML</a>, or <a href="train-your-own-models.html">plug your custom model in</a> to automatically generate this meta-information. Just annotate, you don’t need to code, deal with complex installations or juggle with data.</p>
      </div>
    </div>
    <div class="one-third-col">

    </div>
    <div class="two-third-col">
      <p class="numbered-item"><span class="number-1">1</span><strong>Provide tagtog with as many initial examples as possible</strong>. Bootstrap a model with pre-annotated data or <a href="/projects.html#dictionaries">dictionaries</a> with the terminology you would like to identify automatically. If you don't have these resources, no worries. Just start from scratch.</p>

      <p class="numbered-item"><span class="number-2">2</span><strong>Train a model</strong>: import text (cloud or on-premises) through the <a href="/API_documents_v1.html">API</a> or the user interface. The text is annotated automatically. You can distribute the work across your team and they simply need to correct the wrong model predictions in the annotation editor and confirm the corrections. With each confirmation your model learns. Repeat this step until you get the accuracy level required.</p>
      <p class="numbered-item"><span class="number-3">3</span><strong>Congratulations! You get a machine learning model ready for production use</strong>. Simply send text (or documents) to the API or user interface to retrieve relevant insights. If you detect any problem with the results, you can always continue annotating to fine tune the model.</p>
      <br>
      <p><a href="machine-learning.html">Continue reading</a></p>
    </div>
    <div class="one-third-col">
      {% include image.html name="diagram_ml.svg" %}
    </div>
  </div>

  <div class="page-section">
    <div class="two-third-col">
      <h3>Index your data</h3>
      <p>Train tagtog ML or your own model to annotate automatically your data. These annotations will be the meta-information used to index your data. This data augmentation improves the <strong>discoverability</strong> and it is key to <strong>make search quicker and more intuitive</strong>.</p>
    </div>
    <div class="one-third-col">
      {% include message.html message="You can export to your system the meta-information used to index your data and handle it locally" %}
    </div>
    <div class="two-third-col">
      <p class="numbered-item"><span class="number-1">1</span><strong>Train a machine learning model</strong> as described in the previous use case.</p>
      <p class="numbered-item"><span class="number-2">2</span><strong>Send your text</strong> items to tagtog using the API. Get the annotations in JSON format and decide whether to store these in your own system or keep them at tagtog. Your data is indexed.</p>
      <p class="numbered-item"><span class="number-3">3</span>If you keep these annotations at tagtog, you can <strong>use the concept <a href="/API_documents_v1.html#search-documents-in-a-project-get">search via API</a> as your search engine</strong>. Otherwise, you can store this data locally as meta-information for your own search engine.</p>
      <br>
      <p><a href="search.html">Continue reading</a></p>
    </div>
    <div class="one-third-col">
      {% include image.html name="diagram_index.svg" %}
    </div>
  </div>
  <div class="page-section">
      <h2>The annotation editor</h2>
      <div class="two-third-col">
        <p>tagtog comes with an advanced text annotation tool for <strong>data augmentation</strong>. Its design is based on the feedback from annotation groups.</p>
        <p><strong>Focus</strong> is key in order to generate a high-quality annotated corpora, and we know this. Each single mistake in the annotations means a step backward and more effort to achieve the desired results. With this in mind and to make the user feel comfortable while reading, we have created a <strong>minimalist user interface</strong> where the text is presented with natural spacing, same as any user can be familiar with. By <strong>protecting the reading experience</strong> the tool is more accessible. This is specially important when you involve subject matter experts in your annotation projects.</p>
        <p>Usually annotation tasks involve dealing with big volumes of texts. <strong>Speed and efficiency</strong> are essential to minimize costs and time. tagtog includes features as automatic annotations, overlapping text annotations or full-text annotation, that reduce significantly the time required to annotate text.</p>
        <p>Do you need to annotate or process PDFs? Use the <a title="tagtog - PDF annotation tool" href="pdf-annotation-tool.html">PDF annotation tool</a>, it is fully integrated with tagtog web interface.</p>
        <p>With the annotation editor you can add different types of annotations:</p>
      </div>
      <div class="one-third-col">
        {% include message.html message='tagtog supports <a href="https://medium.com/@tagtog/overlapping-text-annotations-19d7ac5b247a" title="Medium - Overlapping text annotations, gain flexibility">overlapping text annotations</a> and full-text articles.' %}

      </div>
      <div class="two-third-col">
        <table style="width:100%">
          <tr>
            <th>Annotation type</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Entity</td>
            <td>Span of text representing a named entity. It can be any span: a part of a word, a word, a sentence or a group of words. Each entity belong to one or more entity classes (e.g. Obama is a person and a politic).</td>
          </tr>
          <tr>
            <td>Normalization</td>
            <td>Id assigned to a named entity. These annotations help in <strong>disambiguation</strong>. For example an <code>air filter</code> in automotive can make reference to <code>cabin air filter</code> or <code>engine air filter</code>. With tagtog you can assign the correct reference to the entity.</td>
          </tr>
          <tr>
            <td>Entity label</td>
            <td><p>Attribute (boolean, string, enum) assigned to a named entity. Let's say you are extracting technical issues from reports in a CRM. When annotating those reports, you can add extra information to those entities (technical issues), for example, the severity for each of them.</p><p>Entity labels can be used with specific entity groups (e.g. only can be set for technical issues) or to all entities (e.g. we can set comments for all entities)</p></td>
          </tr>
          <tr>
            <td>Relation</td>
            <td>Relation between two named entities. Each relation belong to one specific relation type (e.g. <code>gene</code>BRCA2 <code>is_located</code> on the chromosome 13 <code>location</code>).</td>
          </tr>
          <tr>
            <td>Document label</td>
            <td>Label (boolean, string, enum) assigned to a document or text. These annotations help in <strong>text or intent classification</strong>. For example, if you are classifying emails in order to dispatch them to different departments, you can create a document label (enum) and classify emails as, for example, <code>sales</code>, <code>technical support</code> or <code>legal</code>.</td>
          </tr>
        </table>
        <p><a href="/webeditor.html">Continue reading</a></p>
      </div>
      <div class="one-third-col">
        {% include message.html message='Support for annotations in text and annotations at document level' %}
      </div>

    </div>

  <div class="page-section">
    <h2>Build powerful annotation layouts with tagtog blocks</h2>
    <div class="two-third-col">
      <p>tagtog supports a wide variety of <a href="ioformats.html#input-types">input formats</a>. In addition, you can create <strong>custom styles/layouts</strong> to build <strong>more attractive content</strong> and keep your team engaged.</p>
      <p>Using <a href="tagtog-blocks">tagtog blocks</a> you can add multi-column layouts, tweets, human-bot conversations, quotes, annotation tasks, etc. There are <a href="tagtog-blocks#add-ons">add-ons</a> available to further customize annotation blocks. For example, you can mark a block with a warning to indicate the annotator should focus on that piece.</p>
      {% include image.html name="col_6_block.png" caption="Two-column layout for a translation task. The text to translate is on the left column, the text translated is on the right column. The translation in the second row was marked with the <code>attention</code> add-on to warn the user of a potential issue with this translation." %}
      <br>
      {% include image.html name="alignblocks.png" caption="Tweets on the left, comments for those tweets on the right" %}
      <p><a href="tagtog-blocks">Continue reading</a></p>

    </div>
  </div>
  <div class="page-section">
    <h2>Team collaboration</h2>
    <div class="two-third-col">
      <p class="list-item"><span class="list-item-1"></span><strong><a href="projects.html#guidelines">Guidelines</a></strong>: define your annotation <strong>guidelines</strong> within the application and invite others to join your project.</p>
      <p class="list-item"><span class="list-item-2"></span><strong><a href="collaboration.html#annotation-versions">Versions</a></strong>: <strong>each annotator has their own version of each document</strong>. Therefore, the same document can be annotated by one or more member. Your team can annotate directly on master (ground truth) or on their own versions.</p>
      <p class="list-item"><span class="list-item-3"></span><strong><a href="collaboration.html#roles">Roles</a></strong>: you can <strong>assign different roles</strong> to your team members to perform common tasks in an annotation project: admin, annotator, reviewer, reader, etc. There is a pool of about 30 different <a href="collaboration.html#permissions">permissions</a> to define custom roles.</p>
      <p class="list-item"><span class="list-item-4"></span><strong><a href="collaboration.html#teams">Teams</a></strong>: you can <strong>create teams</strong> (user groups) and add members to it for easier user management. Invite a team to a project, edit team members, etc.</p>
      <p class="list-item"><span class="list-item-5"></span><strong><a href="collaboration.html#quality-management">Track Quality</a></strong>: use the Inter-Annotation Agreement (IAA) for each annotation task, check how well your team agrees on, for example, annotating drug names, law provisions or risk attributes. These values help you understand the quality of your data.</p>
      <p class="list-item"><span class="list-item-6"></span><strong><a href="collaboration.html#adjudication-merging">Adjudication</a></strong>: if many users annotate the same document for quality purposes, eventually it needs to be decided, which version (or combination) to adjudicate to master. In tagtog, <strong>you can adjudicate a specific version or merge the different versions automatically applying different strategies</strong> (e.g. by IAA, majority vote, intersection, union, etc.)</p>
      <p class="list-item"><span class="list-item-7"></span><strong><a href="collaboration.html#annotation-flows-task-distribution">Review</a></strong>: validate or correct the members' annotations. <strong>Merge</strong> them together and resolve conflicts.</p>
      <p class="list-item"><span class="list-item-8"></span><strong><a href="collaboration.html#annotation-flows-task-distribution">Automatic task distribution</a></strong>: distribute documents automatically to all annotators or to a subset.</p>
      <p class="list-item"><span class="list-item-9"></span><strong><a href="collaboration.html#annotation-flows-task-distribution">Track progress</a></strong>: follow your project progress, bias metrics and the progress of each member.</p>
      <p class="list-item"><span class="list-item-5"></span><strong><a href="train-your-own-models.html">Train AI as a team</a></strong>: it is easier than ever to collaborate and to train machine learning models together. Using <a href="projects.html#webhooks">Webhooks</a> you can <strong>plug in your custom ML model to train it through tagtog's user interface</strong>. Load your model predictions into tagtog and let your team correct them. Each time a document is confirmed, your model will receive the corrected annotations to train itself. Repeat the process until you get the desired accuracy.</p>

      <p><a href="/collaboration.html">Continue reading</a></p>
    </div>
    <div class="one-third-col">
      {% include message.html message="You can use different <strong>annotation flows</strong>: from a scenario where each annotator annotates each document to scenarios where documents are distributed among annotators." %}
    </div>
  </div>


  <div class="page-section">
    <div class="two-third-col">
      <h2>Cloud or On-premises</h2>
      <table class="clean-table">
        <tr>
          <td><strong>On the Cloud</strong>. To use tagtog on the cloud, <strong>you don't need to install anything</strong>; just <a href="https://www.tagtog.net/#signup" title="Sign up at tagtog.net">sign up</a>, create a project, and start annotating. Out of these annotations you can create and use a machine learning model without worrying about hardware requirements, databases, scalability, deployments and any other hassle or cost related to setting up a production environment and maintaining it.</td>
          <td class="centered" style="width:15%">{% include image.html name="tagtog_cloud.svg" %}</td>
        </tr>
        <tr>
          <td><br></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p><strong>On-premises</strong>. If you need to meet strong privacy regulations, legal requirements, or you simply want to make a custom installation within your infrastructure or any public cloud (AWS, Google, Azure, etc) , tagtog is also served on-premises. This is a self-contained version (no Internet connection is required) of tagtog, <strong>no data will leave your infrastructure</strong>. To make the installation the easiest possible we offer tagtog contained in a <a href="https://www.docker.com/" title="Docker official site"><strong>Docker</strong></a> image. <a href="on_premises_README.html">Check our on-premises guide</a>.</p>
            <p>There is available support for <strong>Single Sign-on</strong> and <strong>advanced user management</strong> (user groups, roles and permissions). All through an intuitive <a href="on-premises-sysadmin.html">sysadmin panel</a>.</p>
          </td>
          <td class="centered" style="width:15%">{% include image.html name="docker.svg" %}</td>
        </tr>
      </table>
    </div>
    <div class="one-third-col">
    </div>
  </div>

  <div class="page-section">
    <div class="two-third-col">
      <h2>Concept search</h2>
      <p>Each fragment of text annotated or processed using tagtog is <strong>indexed</strong> within your project. The search engine makes easier to <strong>discover patterns or find actionable insights</strong> through <strong><a href="search-queries.html">search queries</a></strong>. This is specially handy when you have trained a model that annotates automatically relevant information. For example, if you have trained a model that has extracted skills in thousands of CVs, those got indexed and you can search across them using normalizations, entity classes, etc. You can do things like: <code>entity:softskill:time-management</code> to retrieve all CVs from people who are good organizing their work time.</p>
    </div>
    <div class="one-third-col"></div>

    <div class="two-third-col">
      <p>This search engine can be used through the <strong>user interface or the <a title="tagtog - API" href="/API_documents_v1.html">API</a></strong>. You can use directly the API as your search interface or simply augment your existing engine.</p>
      <p>Annotators can use it to find texts that are not annotated yet or documents related to their specific annotation task. </p>
      <p><a href="/search.html">Continue reading</a></p>
    </div>
    <div class="one-third-col">
      {% include message.html message="The user interface will help you to build the search queries" %}
    </div>
  </div>


  <div class="page-section">
    <div class="two-third-col">
      <h2>Import text from known sources</h2>
      <p>When you need training data, bring real content directly from the source with no effort. tagtog supports shortcuts and automation for these resources:</p>
      <table class="clean-table">
        <tr>
          <td class="centered" style="width:15%">{% include image.html name="pubmed.svg" %}</td>
          <td><strong>PubMed</strong> is the largest and the most widely used database of life sciences and biomedical literature. It contains more than 26 million scientific or clinical articles going back to 1966.</td>
        </tr>
        <tr>
          <td class="centered" style="width:15%">{% include image.html name="pmc.png" %}</td>
          <td><strong>PubMed Central</strong> (PMC) is a full-text archive of biomedical and life sciences journal literature with more than 4.7 million articles.</td>
        </tr>
        <tr class="soon">
          <td class="centered" style="width:15%">{% include image.html name="twitter.svg" %}</td>
          <td>tagtog uses the <strong>Twitter</strong> API to import tweets into tagtog. Coming soon.</td>
        </tr>
        <tr class="soon">
          <td class="centered" style="width:15%">{% include image.html name="reddit.svg" %}</td>
          <td><strong>Reddit</strong> is one of the largest communities on the Internet, tagtog uses the Reddit API to import discussions into tagtog. Coming soon.</td>
        </tr>
        <tr class="soon">
          <td class="centered" style="width:15%">{% include image.html name="wikipedia.svg" %}</td>
          <td>With more than 5 million pages, <strong>Wikipedia</strong> is the largest encyclopedia ever. Wikidata acts as a central storage repository for Wikipedia and consist mainly of uniquely identified items each one having a label, a description and any number of aliases. This information is typically used for normalization tasks. Coming soon.</td>
        </tr>
      </table>
      <p>Check all the <strong><a href="ioformats.html">input/output formats available</a></strong>.</p>
    </div>
    <div class="one-third-col">
    </div>
  </div>

  <div class="page-section">
      <div class="two-third-col">
        <h2>Open Datasets</h2>
        <p class="list-item"><span class="list-item-1"></span>Visualize, check quality and download Open datasets from the community.</p>
        <p class="list-item"><span class="list-item-2"></span>Extend existing open datasets with your custom data.</p>
        <p class="list-item"><span class="list-item-3"></span>Combine the data with the same info type from different data sources (e.g. sentiment labels from product review datasets). Make your data grow easily.</p>
        <p class="list-item"><span class="list-item-4"></span>Invite other users to help you annotate your data.</p>
        <p class="list-item"><span class="list-item-5"></span>Use existing open datasets, and build a machine learning model that generates similar annotations automatically.</p>
        <p class="list-item"><span class="list-item-6"></span>It's free!</p>

        <table class="clean-table corpora-inline-table">
          <tr>
            <td class="centered corpus">{% include image.html name="flybase.png" %}<span>FlyBase</span></td>
            <td class="centered corpus">{% include image.html name="rostlab_logo.png" %}<span>IDP4+</span></td>
            <td class="centered corpus">{% include image.html name="Virus300.jpg" %}<span>V300</span></td>
            <td class="centered"><a href="https://www.tagtog.net/-datasets">Go to dataset full list</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="one-third-col">
    </div>
</div>
